body {
    height: 100%;
    background-repeat: no;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/large-particles-floating-on-light-background_wyrjlj-bs__F0000.png")
}

.img_list {
    width: 700px;
    height: 500px;
}


